<nav class="bg-[#0e0e0e] px-6 py-3.5 flex items-center justify-between">
  @if (!authService.isAuthenticated()) {
    <a routerLink="/" class="text-white font-bold text-lg tracking-tight no-underline flex items-center gap-1.5">
      <ng-icon name="heroBuildingOffice" size="20px" />
      Recrutamento
    </a>
    <div class="flex gap-3">
      <a routerLink="/auth/login"
        class="text-neutral-300 border border-neutral-700 rounded-lg px-5 py-2 text-sm font-medium hover:text-white hover:border-neutral-500 transition no-underline">
        Entrar
      </a>
      <a routerLink="/auth/register"
        class="bg-[#2d53fa] text-white rounded-lg px-5 py-2 text-sm font-semibold hover:bg-[#2d53fa]/90 transition no-underline">
        Cadastrar
      </a>
    </div>
  } @else if (authService.userRole() === 'USER') {
    <div class="flex items-center gap-3 md:gap-6">
      <a routerLink="/" class="text-white font-bold text-lg tracking-tight no-underline flex items-center gap-1.5">
        <ng-icon name="heroBuildingOffice" size="20px" />
        Recrutamento
      </a>
      <a routerLink="/dashboard" routerLinkActive="!text-[#2d53fa] font-semibold"
        class="text-neutral-400 text-sm hover:text-white transition no-underline">Dashboard</a>
      <a routerLink="/vacancies" routerLinkActive="!text-[#2d53fa] font-semibold"
        class="text-neutral-400 text-sm hover:text-white transition no-underline">Vagas</a>
    </div>
    <div class="flex items-center gap-2 md:gap-3 text-neutral-300 text-sm">
      <span class="flex items-center gap-1">
        <ng-icon name="heroUserCircle" size="16px" />
        {{ authService.userName() }}
      </span>
      <button (click)="logout()"
        class="text-neutral-500 hover:text-white cursor-pointer bg-transparent border-none p-0 leading-none" title="Sair">
        <ng-icon name="heroArrowRightOnRectangle" size="16px" />
      </button>
    </div>
  } @else if (authService.userRole() === 'ADMIN') {
    <div class="flex items-center gap-8">
      <a routerLink="/admin/vacancies" class="text-white font-bold text-lg tracking-tight no-underline flex items-center gap-1.5">
        <ng-icon name="heroBuildingOffice" size="20px" />
        Recrutamento
      </a>
      <a routerLink="/vacancies" routerLinkActive="!text-[#2d53fa] font-semibold"
        class="text-neutral-400 text-sm hover:text-white transition no-underline">Vagas</a>
      <a routerLink="/admin/vacancies" routerLinkActive="!text-[#2d53fa] font-semibold"
        class="text-neutral-400 text-sm hover:text-white transition no-underline">Gerenciar</a>

    </div>
    <div class="flex items-center gap-3 text-neutral-300 text-sm">
      <span class="flex items-center gap-1">
        <ng-icon name="heroUserCircle" size="16px" />
        {{ authService.userName() }}
      </span>
      <span class="bg-[#2d53fa] text-white px-2.5 py-0.5 rounded-lg text-xs font-semibold">ADMIN</span>
      <button (click)="logout()"
        class="text-neutral-500 hover:text-white cursor-pointer bg-transparent border-none p-0 leading-none" title="Sair">
        <ng-icon name="heroArrowRightOnRectangle" size="16px" />
      </button>
    </div>
  }
</nav>
